// Colores
$color-principal: #9c27b0;
$color-fuente: #212121;
$color-contraste: white;

// Fuentes
$fuente-secundaria: "Montserrat", sans-serif;
$fuente-titulos: "Roboto Serif", serif;

@mixin texto-resaltado{
    $fuente-secundaria:$color-fuente;
    font-weight: bold;
}